/* src/pages/MessengerLayout.css */
.messenger-layout {
  display: flex;
  height: 100vh;
  background-color: #f0f2f5;
  padding: 10px; /* Ajout de marge globale */
  gap: 10px; /* Espace entre les colonnes */
}

.conversation-column {
  width: 30%;
  background-color: white;
  border-radius: 10px; /* Bordure arrondie */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden; /* Pour que le contenu respecte le border-radius */
}

.chat-column {
  width: 40%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px; /* Bordure arrondie */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.profile-column {
  width: 30%;
  background-color: white;
  border-radius: 10px; /* Bordure arrondie */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}